@model HouseBills.Models.DebtModel 
@using (Html.BeginForm("CreateDebtForOnePerson", "Debt"))
{
    <table>
        <tr>
            <td>Person: </td>
            <td>@Html.DropDownListFor(x => x.PersonId, Model.People)</td>
        </tr>
        <tr>
            <td>Amount: </td>
            <td>@Html.TextBoxFor(x => x.Amount)</td>
        </tr>
        <tr>
            <td>Description: </td>
            <td>@Html.TextBoxFor(x => x.Description)</td>
        </tr>
    </table>
    
    <p>
        <input type="submit" value="Create" />
    </p>
}