@model List<HouseBills.Entities.Tenant>

<h2>Breakdown</h2>

@foreach(var person in Model)
{
    using (Html.BeginForm("ListBreakdown", "Debt", new { personId = person.Id}))
    {
        <input type="submit" value="@person.Name"/>
    }
}